.container {
  margin: auto;
  width: 50%;
  border: 1px solid #219dad;
  background-color: #743270;
  padding: 10px;
}

.add-btn {
  float: right;
  background-color: rgb(255, 0, 242);
  color: #ffffff;
}