.container {
  margin: auto;
  width: 50%;
  border: 1px solid #219dad;
  background-color: #bed732;
  padding: 10px;
}

.add-btn {
  float: right;
  background-color: rgb(255, 13, 0);
  color: #ffffff;
}